/* Button menu */

.btn-menu {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	z-index: 10;
	transition: fill var(--anim-fast) ;

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
	&__icon-cross {
		display: none;
	}

	&.is-open &__icon-cross {
		display: block;
	}

	&.is-open &__icon-burger {
		display: none;
	}

	@media screen and (min-width: $tablet) {
		display: none;
	}
}
