/* Contact */
.contact {
			margin-left: auto;

	&__item:not(:last-child) {
		@media screen and (min-width: $desktop) {
			margin-right: 30px;
		}
	}

	&__link {
		display: flex;

		align-items: center;
		color: var(--desc-text-color);
			padding-top: 5px;
				padding-bottom: 5px;
		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;

		transition: var(--transition-color);

		@media screen and (min-width: $desktop) {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	&__link:hover,
	&__link :focus {
		color: var(--accent-color);
	}

	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
}
