/* Title */

.subtitle {
	font-size: var(---primary-font-size);
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: var(--primary-letter-spacing);
	text-transform: uppercase;

	&--inverse {
		color: var(--light-text-color);
	}

	&--centered {
		text-align: center;
	}
}
