body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    letter-spacing: var(--primary-letter-spacing);

}