@mixin title($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
	text-align: center;
	letter-spacing: var(--primary-letter-spacing);
}

@mixin section($pt, $pb) {
	padding-top: $pt;
	padding-bottom: $pb;
}
