/* Benefits */

.benefits {

	@extend %section;
	
	&__list {
		display: flex;
	}

	&__items {
		width: 270px;
	}

	&__items:not(:last-child) {
		margin-right: 30px;
	}

	&__pic {
		display: flex;
		margin-bottom: 30px;
		justify-content: center;
		align-items: center;
		height: 120px;

		background-color: var(--secondary-background-color);
	}

	&__subtitle {
		margin-bottom: 10px;
	}

	&__desc {
		color: var(--desc-text-color);
		line-height: 1.71;
		letter-spacing: var(--primary-letter-spacing);
		text-align: left;
	}
}
