/* Header */

.header {
position: relative;

	&__container {
		display: flex;
	}

	&__logo {
		margin-right: 93px;
		padding-top: 24px;
		padding-bottom: 25px;
	}

	&__contact {
		display: flex;
		margin-left: auto;
		align-items: center;
	}

	&__menu-container{

		@media screen and  (max-width: calc($tablet - 1px)){
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: var(--main-background-color);
		}


}
	&__menu-container.is-open{
	display: block;
	}
	
}
