/* Nav */

.nav {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 50px;
	}

	&__link {
		display: block;
		padding-top: 32px;
		padding-bottom: 0px;
		color: inherit;

		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;

		transition: var(--transition-color);
	}

	&__link--current,
	&__link:hover,
	&__link:focus {
		color: var(--accent-color);
	}

	&__link--current::after {
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		margin-top: 28px;

		background-color: var(--accent-color);
		border-radius: 2px;
	}
}
