/* Portfolio section*/

.portfolio {
	@include section(60px, 60px);

	@media screen and (min-width: $desktop) {
		@include section(94px, 94px);
	}
	border-top: 1px solid #ececec;

	&__btn-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;

		@media screen and (min-width: $tablet) {
			justify-content: center;
			margin-bottom: 30px;
		}

		@media screen and (min-width: $desktop) {
			justify-content: center;
			margin-bottom: 50px;
		}
	}


		&__card-set {
			--items: 1;
	
			@media screen and (min-width: $tablet) {
				--items: 2;

			}
	
			@media screen and (min-width: $desktop) {
				--items: 3;
			}
		}





	&__link {
		display: block;
		transition: box-shadow var(--anim-fast);
	}

	&__link:hover,
	&__link:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	&__thumb {
		position: relative;
		overflow: hidden;
	}

	&__box {

		padding: 20px 24px;

		border: 1px solid #eeeeee;
		border-top: none;

				@media screen and (min-width:$tablet) and (max-width: calc($desktop - 1px)) {
						min-height: 146px;
					}
	}

	&__subtitle {
		margin-bottom: 4px;

		color: var(--primary-text-color);

		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
	}

	&__desc {
		color: var(--desc-text-color);
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: var(--primary-letter-spacing);
	}
}
