/* Work */
.work {
    
    @extend %section;

	padding-top: 0;

	&__title {

    @include title();

		margin-bottom: 50px;
	}

	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 30px;
	}

	&__item {
		position: relative;
	}

	&__subtitle {
		position: absolute;
		display: flex;
		justify-content: center;
		bottom: 0;
		align-items: center;

		width: 100%;
		height: 70px;

		background: rgba(47, 48, 58, 0.8);
	}
}
